html {
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body {
  height: 100vh;
  background-image: url('/public/background.jpg');
  background-size: cover;
  background-position: center;
  /* Optional: Set background attachment to fixed if you want a fixed background */
  background-attachment: fixed;
  margin: 0;

  font-family: 'Pixelify Sans', sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

main {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(5, 200px);
  row-gap: 100px;
  place-content: center;
  place-items: center;
}

footer {
  padding: 20px;
  text-align: center;
}

@media (max-width: 1000px) {
  main {
    grid-template-columns: repeat(3, 200px);
  }
}

@media (max-width: 500px) {
  main {
    grid-template-columns: repeat(2, 200px);
  }

  header {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
  }
}
